:root {
  --color-primary: #7225d0;
  --color-secondary: #fcbc0b;
  --color-secondary-darker: #dea402;
  --color-tertiary: #9b744a;
  --color-purple-light: #7c02ff;
  --color-purple-lighter: #9d4edd;
  --color-dark: #333;
  --color-background: #f0f0f7;
  --color-background-light: #f2f2f7;
  --color-border-light: #dadae7;
  --color-white: #ffffff;
  --color-text: #f5f5f5;
  --color-complement: #9c98a6;
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  background-color: var(--color-background);
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins, sans-serif;
  color: var(--color-dark);
}

.container {
  width: 90%;
  max-width: 956px;
  margin: 0 auto;
}

.breakline {
  display: block;
}

@media (min-width: 768px) {
  :root {
    font-size: 62.5%;
  }
}
